<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation Suite" parallel="tests" thread-count="2">
<!--    <listeners>-->
<!--        <listener class-name="com.yourcompany.framework.listeners.TestListener"/>-->
<!--    </listeners>-->

    <test name="Web Tests">
        <classes>
            <class name="org.mine.tests.LoginTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="org.mine.tests.LoginTest"/>
        </classes>
    </test>
</suite>